<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/code.css">
  </head>
  <body>
    <div id="container">
      <table id="index">
        <tr>
          <td>
            <ul class="posts">
              {% for p in site.categories.videos sort_by:title order:descending %}
              <li>
                <div class="post-title"><a href="{{ p.url }}">{{ p.title }}</a></div>
                <div class="post-date">added {{ p.date | date: "%d %b %Y" }}</div>
              </li>
              {% endfor %}
            </ul>
          </td>
          <td>
            <ul class="posts">
              {% for p in site.categories.labs sort_by:title order:descending %}
              <li>
                <div class="post-title"><a href="{{ p.url }}">{{ p.title }}</a></div>
                <div class="post-due">{% if p.due %}due {{ p.due }}{% endif %}</div>
                <div class="post-date">added {{ p.date | date: "%d %b %Y" }}</div>
              </li>
              {% endfor %}
            </ul>
          </td>
          <td>
            <ul class="posts">
              {% for p in site.categories.guides sort_by:title order:descending %}
              <li>
                <div class="post-title"><a href="{{ p.url }}">{{ p.title }}</a></div>
                <div class="post-date">added {{ p.date | date: "%d %b %Y" }}</div>
              </li>
              {% endfor %}
            </ul>
          </td>
          <td class="metabox">
            <div class="classname">CSE 1211</div>
            <div class="semester">Autumn 2013</div>
            <div class="email"><b><a href="mailto:joshuaeckroth@gmail.com">joshuaeckroth@gmail.com</a></b></div>
            <div class="officehours">
              Office hours (Bolz 118):
              <br/>
              Monday 11:20am-12:30pm
              <br/>
              Wednesday 9:30am-10:20am, 11:20am-12:30pm
              <br/>
              <br/>
              <b><a href="http://www.cse.ohio-state.edu/cs/labs/hours.shtml">Caldwell lab hours</a></b>
            </div>
            <div class="chat">
              <!-- Plupper Button -->
              <div id="plupperButton"></div>
              <!-- End of Plupper Button Code -->
            </div>
          </td>
        </tr>
      </table>

      <div class="license">
        <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">CSE 1211 material</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://cse1211.artifice.cc" property="cc:attributionName" rel="cc:attributionURL">Joshua Eckroth</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>. Source code for this website available at <a href="https://github.com/joshuaeckroth/cse1211-website/tree/gh-pages">GitHub</a>.
      </div>
      
      <!-- Plupper Tracking Code -->
      <script src="https://www.google.com/jsapi"></script>
      <script type="text/javascript"
              src="https://static.plupper.com/js/plupper.js"></script>
      <script type="text/javascript">
        plupper.init("joshuaeckroth@plupper.com");
        plupper.enableCobrowsing();
      </script>
      <!-- End of Plupper Tracking Code -->
    </div>
  </body>
</html>
